--
-- PostgreSQL database dump
--

-- Dumped from database version 15.13 (Debian 15.13-1.pgdg120+1)
-- Dumped by pg_dump version 15.13 (Debian 15.13-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: access_log_action; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.access_log_action AS ENUM (
    'view',
    'download',
    'print',
    'share',
    'comment',
    'rate'
);


ALTER TYPE public.access_log_action OWNER TO postgres;

--
-- Name: accesslogaction; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.accesslogaction AS ENUM (
    'VIEW',
    'DOWNLOAD',
    'PRINT',
    'SHARE',
    'COMMENT',
    'RATE'
);


ALTER TYPE public.accesslogaction OWNER TO postgres;

--
-- Name: author_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.author_status AS ENUM (
    'active',
    'inactive'
);


ALTER TYPE public.author_status OWNER TO postgres;

--
-- Name: authorstatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.authorstatus AS ENUM (
    'ACTIVE',
    'INACTIVE'
);


ALTER TYPE public.authorstatus OWNER TO postgres;

--
-- Name: category_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.category_status AS ENUM (
    'active',
    'inactive'
);


ALTER TYPE public.category_status OWNER TO postgres;

--
-- Name: categorystatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.categorystatus AS ENUM (
    'ACTIVE',
    'INACTIVE'
);


ALTER TYPE public.categorystatus OWNER TO postgres;

--
-- Name: comment_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.comment_status AS ENUM (
    'active',
    'hidden',
    'deleted'
);


ALTER TYPE public.comment_status OWNER TO postgres;

--
-- Name: commentstatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.commentstatus AS ENUM (
    'ACTIVE',
    'HIDDEN',
    'DELETED'
);


ALTER TYPE public.commentstatus OWNER TO postgres;

--
-- Name: conflict_resolution; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.conflict_resolution AS ENUM (
    'latest',
    'merge',
    'manual'
);


ALTER TYPE public.conflict_resolution OWNER TO postgres;

--
-- Name: conflict_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.conflict_status AS ENUM (
    'pending',
    'resolved'
);


ALTER TYPE public.conflict_status OWNER TO postgres;

--
-- Name: conflictresolution; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.conflictresolution AS ENUM (
    'LATEST',
    'MERGE',
    'MANUAL'
);


ALTER TYPE public.conflictresolution OWNER TO postgres;

--
-- Name: conflictstatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.conflictstatus AS ENUM (
    'PENDING',
    'RESOLVED'
);


ALTER TYPE public.conflictstatus OWNER TO postgres;

--
-- Name: document_access_level; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.document_access_level AS ENUM (
    'public',
    'restricted',
    'private'
);


ALTER TYPE public.document_access_level OWNER TO postgres;

--
-- Name: document_access_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.document_access_status AS ENUM (
    'active',
    'expired',
    'revoked'
);


ALTER TYPE public.document_access_status OWNER TO postgres;

--
-- Name: document_audio_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.document_audio_status AS ENUM (
    'pending',
    'processing',
    'completed',
    'failed'
);


ALTER TYPE public.document_audio_status OWNER TO postgres;

--
-- Name: document_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.document_status AS ENUM (
    'available',
    'restricted',
    'maintenance',
    'pending',
    'approved',
    'rejected'
);


ALTER TYPE public.document_status OWNER TO postgres;

--
-- Name: documentaccesslevel; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.documentaccesslevel AS ENUM (
    'PUBLIC',
    'RESTRICTED',
    'PRIVATE'
);


ALTER TYPE public.documentaccesslevel OWNER TO postgres;

--
-- Name: documentaccessstatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.documentaccessstatus AS ENUM (
    'ACTIVE',
    'EXPIRED',
    'REVOKED'
);


ALTER TYPE public.documentaccessstatus OWNER TO postgres;

--
-- Name: documentaudiostatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.documentaudiostatus AS ENUM (
    'PENDING',
    'PROCESSING',
    'COMPLETED',
    'FAILED'
);


ALTER TYPE public.documentaudiostatus OWNER TO postgres;

--
-- Name: documentstatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.documentstatus AS ENUM (
    'AVAILABLE',
    'RESTRICTED',
    'MAINTENANCE',
    'PENDING',
    'APPROVED',
    'REJECTED'
);


ALTER TYPE public.documentstatus OWNER TO postgres;

--
-- Name: feedback_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.feedback_status AS ENUM (
    'pending',
    'in_progress',
    'resolved',
    'closed'
);


ALTER TYPE public.feedback_status OWNER TO postgres;

--
-- Name: feedbackstatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.feedbackstatus AS ENUM (
    'PENDING',
    'IN_PROGRESS',
    'RESOLVED',
    'CLOSED'
);


ALTER TYPE public.feedbackstatus OWNER TO postgres;

--
-- Name: notification_related_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.notification_related_type AS ENUM (
    'comment',
    'document',
    'rating',
    'access',
    'system',
    'feedback'
);


ALTER TYPE public.notification_related_type OWNER TO postgres;

--
-- Name: notification_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.notification_type AS ENUM (
    'system',
    'comment',
    'rating',
    'document',
    'access'
);


ALTER TYPE public.notification_type OWNER TO postgres;

--
-- Name: notificationrelatedtype; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.notificationrelatedtype AS ENUM (
    'COMMENT',
    'DOCUMENT',
    'RATING',
    'ACCESS',
    'SYSTEM',
    'FEEDBACK'
);


ALTER TYPE public.notificationrelatedtype OWNER TO postgres;

--
-- Name: notificationtype; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.notificationtype AS ENUM (
    'SYSTEM',
    'COMMENT',
    'RATING',
    'DOCUMENT',
    'ACCESS'
);


ALTER TYPE public.notificationtype OWNER TO postgres;

--
-- Name: publisher_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.publisher_status AS ENUM (
    'active',
    'inactive'
);


ALTER TYPE public.publisher_status OWNER TO postgres;

--
-- Name: publisherstatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.publisherstatus AS ENUM (
    'ACTIVE',
    'INACTIVE'
);


ALTER TYPE public.publisherstatus OWNER TO postgres;

--
-- Name: reading_progress_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.reading_progress_status AS ENUM (
    'reading',
    'completed',
    'paused'
);


ALTER TYPE public.reading_progress_status OWNER TO postgres;

--
-- Name: reading_progress_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.reading_progress_type AS ENUM (
    'page',
    'percentage',
    'position',
    'time',
    'section'
);


ALTER TYPE public.reading_progress_type OWNER TO postgres;

--
-- Name: readingprogressstatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.readingprogressstatus AS ENUM (
    'READING',
    'COMPLETED',
    'PAUSED'
);


ALTER TYPE public.readingprogressstatus OWNER TO postgres;

--
-- Name: readingprogresstype; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.readingprogresstype AS ENUM (
    'PAGE',
    'PERCENTAGE',
    'POSITION',
    'TIME',
    'SECTION'
);


ALTER TYPE public.readingprogresstype OWNER TO postgres;

--
-- Name: setting_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.setting_type AS ENUM (
    'string',
    'integer',
    'boolean',
    'json',
    'array',
    'float'
);


ALTER TYPE public.setting_type OWNER TO postgres;

--
-- Name: settingtype; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.settingtype AS ENUM (
    'STRING',
    'INTEGER',
    'BOOLEAN',
    'JSON',
    'ARRAY',
    'FLOAT'
);


ALTER TYPE public.settingtype OWNER TO postgres;

--
-- Name: static_page_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.static_page_status AS ENUM (
    'draft',
    'published',
    'archived'
);


ALTER TYPE public.static_page_status OWNER TO postgres;

--
-- Name: tag_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.tag_status AS ENUM (
    'active',
    'inactive'
);


ALTER TYPE public.tag_status OWNER TO postgres;

--
-- Name: tagstatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.tagstatus AS ENUM (
    'ACTIVE',
    'INACTIVE'
);


ALTER TYPE public.tagstatus OWNER TO postgres;

--
-- Name: user_role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.user_role AS ENUM (
    'admin',
    'member'
);


ALTER TYPE public.user_role OWNER TO postgres;

--
-- Name: userrole; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.userrole AS ENUM (
    'ADMIN',
    'MEMBER'
);


ALTER TYPE public.userrole OWNER TO postgres;

--
-- Name: voice_gender; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.voice_gender AS ENUM (
    'male',
    'female',
    'neutral'
);


ALTER TYPE public.voice_gender OWNER TO postgres;

--
-- Name: voicegender; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.voicegender AS ENUM (
    'MALE',
    'FEMALE',
    'NEUTRAL'
);


ALTER TYPE public.voicegender OWNER TO postgres;

--
-- Name: website_link_position; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.website_link_position AS ENUM (
    'header',
    'footer',
    'sidebar',
    'main_menu',
    'quick_links'
);


ALTER TYPE public.website_link_position OWNER TO postgres;

--
-- Name: website_link_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.website_link_status AS ENUM (
    'active',
    'inactive'
);


ALTER TYPE public.website_link_status OWNER TO postgres;

--
-- Name: websitelinkposition; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.websitelinkposition AS ENUM (
    'HEADER',
    'FOOTER',
    'SIDEBAR',
    'MAIN_MENU',
    'QUICK_LINKS'
);


ALTER TYPE public.websitelinkposition OWNER TO postgres;

--
-- Name: websitelinkstatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.websitelinkstatus AS ENUM (
    'ACTIVE',
    'INACTIVE'
);


ALTER TYPE public.websitelinkstatus OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: access_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.access_logs (
    access_id uuid,
    user_id uuid NOT NULL,
    document_id uuid NOT NULL,
    action public.accesslogaction NOT NULL,
    "timestamp" timestamp with time zone DEFAULT now(),
    ip_address character varying,
    user_agent character varying,
    session_id uuid,
    id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone
);


ALTER TABLE public.access_logs OWNER TO postgres;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO postgres;

--
-- Name: authors; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.authors (
    name character varying NOT NULL,
    bio text,
    email character varying,
    website character varying,
    birth_date date,
    death_date date,
    nationality character varying,
    status public.authorstatus,
    id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone,
    slug character varying,
    CONSTRAINT check_author_dates CHECK (((birth_date IS NULL) OR (death_date IS NULL) OR (birth_date < death_date))),
    CONSTRAINT check_author_email CHECK (((email IS NULL) OR ((email)::text ~ '^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$'::text))),
    CONSTRAINT check_author_name CHECK ((length((name)::text) >= 2))
);


ALTER TABLE public.authors OWNER TO postgres;

--
-- Name: categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categories (
    name character varying NOT NULL,
    description text,
    parent_id uuid,
    slug character varying,
    icon character varying,
    status public.categorystatus,
    id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone,
    CONSTRAINT check_category_name CHECK ((length((name)::text) >= 2))
);


ALTER TABLE public.categories OWNER TO postgres;

--
-- Name: comments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.comments (
    document_id uuid NOT NULL,
    user_id uuid NOT NULL,
    parent_id uuid,
    content text NOT NULL,
    status public.commentstatus,
    is_edited boolean,
    id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone,
    CONSTRAINT check_comment_content CHECK ((length(content) > 0))
);


ALTER TABLE public.comments OWNER TO postgres;

--
-- Name: document_access; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.document_access (
    document_id uuid NOT NULL,
    user_id uuid NOT NULL,
    granted_at timestamp with time zone DEFAULT now(),
    expiry_date timestamp with time zone,
    status public.documentaccessstatus,
    access_count integer,
    last_accessed timestamp with time zone,
    extension_count integer,
    revoked_at timestamp with time zone,
    id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone,
    CONSTRAINT check_access_count CHECK ((access_count >= 0)),
    CONSTRAINT check_extension_count CHECK ((extension_count >= 0))
);


ALTER TABLE public.document_access OWNER TO postgres;

--
-- Name: document_audio; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.document_audio (
    document_id uuid NOT NULL,
    chapter_id uuid,
    section_id uuid,
    language character varying NOT NULL,
    voice_id character varying NOT NULL,
    file_url character varying NOT NULL,
    duration_seconds integer NOT NULL,
    file_size integer NOT NULL,
    status public.documentaudiostatus,
    id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone,
    CONSTRAINT check_audio_context CHECK (((chapter_id IS NOT NULL) OR (section_id IS NOT NULL))),
    CONSTRAINT check_audio_duration CHECK ((duration_seconds > 0)),
    CONSTRAINT check_audio_size CHECK ((file_size > 0))
);


ALTER TABLE public.document_audio OWNER TO postgres;

--
-- Name: document_author; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.document_author (
    document_id uuid NOT NULL,
    author_id uuid NOT NULL,
    created_at timestamp with time zone,
    id uuid NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.document_author OWNER TO postgres;

--
-- Name: document_chapters; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.document_chapters (
    document_id uuid NOT NULL,
    title character varying NOT NULL,
    chapter_number integer NOT NULL,
    start_position double precision,
    end_position double precision,
    ai_summary text,
    id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone,
    CONSTRAINT check_chapter_number CHECK ((chapter_number > 0)),
    CONSTRAINT check_chapter_positions CHECK (((start_position IS NULL) OR (end_position IS NULL) OR (start_position < end_position)))
);


ALTER TABLE public.document_chapters OWNER TO postgres;

--
-- Name: COLUMN document_chapters.start_position; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.document_chapters.start_position IS 'Starting position (e.g., percentage or page)';


--
-- Name: COLUMN document_chapters.end_position; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.document_chapters.end_position IS 'Ending position';


--
-- Name: COLUMN document_chapters.ai_summary; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.document_chapters.ai_summary IS 'AI-generated chapter summary';


--
-- Name: document_qa; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.document_qa (
    document_id uuid NOT NULL,
    chapter_id uuid,
    section_id uuid,
    question text NOT NULL,
    answer text NOT NULL,
    context text,
    language character varying NOT NULL,
    usage_count integer,
    last_used timestamp with time zone,
    id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone,
    CONSTRAINT check_qa_content CHECK (((length(question) > 0) AND (length(answer) > 0))),
    CONSTRAINT check_qa_context CHECK ((((chapter_id IS NULL) AND (section_id IS NULL)) OR (context IS NOT NULL)))
);


ALTER TABLE public.document_qa OWNER TO postgres;

--
-- Name: document_sections; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.document_sections (
    document_id uuid NOT NULL,
    chapter_id uuid,
    title character varying NOT NULL,
    section_number integer NOT NULL,
    start_position double precision,
    end_position double precision,
    id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone,
    CONSTRAINT check_section_number CHECK ((section_number > 0)),
    CONSTRAINT check_section_positions CHECK (((start_position IS NULL) OR (end_position IS NULL) OR (start_position < end_position)))
);


ALTER TABLE public.document_sections OWNER TO postgres;

--
-- Name: document_tag; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.document_tag (
    document_id uuid NOT NULL,
    tag_id uuid NOT NULL,
    id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.document_tag OWNER TO postgres;

--
-- Name: documents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.documents (
    title character varying NOT NULL,
    description text,
    publisher_id uuid,
    publication_year integer,
    isbn character varying,
    file_name character varying NOT NULL,
    file_hash character varying,
    file_type uuid NOT NULL,
    file_size integer NOT NULL,
    status public.documentstatus,
    category_id uuid NOT NULL,
    access_level public.documentaccesslevel,
    language character varying,
    version character varying,
    download_count integer,
    view_count integer,
    is_featured boolean,
    ai_summary text,
    added_by uuid NOT NULL,
    id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone,
    CONSTRAINT check_file_size CHECK ((file_size > 0)),
    CONSTRAINT check_isbn CHECK (((isbn IS NULL) OR ((isbn)::text ~ '^(?:[0-9]{10}|[0-9]{13}|[0-9]{3}-[0-9]{1,5}-[0-9]{1,7}-[0-9]{1,6}-[0-9])$'::text))),
    CONSTRAINT check_publication_year CHECK (((publication_year >= 1800) AND ((publication_year)::numeric <= EXTRACT(year FROM CURRENT_DATE)))),
    CONSTRAINT check_version_format CHECK (((version)::text ~ '^[0-9]+\.[0-9]+(\.[0-9]+)?$'::text))
);


ALTER TABLE public.documents OWNER TO postgres;

--
-- Name: favorites; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.favorites (
    user_id uuid NOT NULL,
    document_id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    id uuid NOT NULL,
    updated_at timestamp with time zone
);


ALTER TABLE public.favorites OWNER TO postgres;

--
-- Name: feedback; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.feedback (
    user_id uuid,
    name character varying NOT NULL,
    email character varying NOT NULL,
    subject character varying NOT NULL,
    message text NOT NULL,
    status public.feedbackstatus,
    response text,
    id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone,
    CONSTRAINT check_feedback_email CHECK (((email)::text ~ '^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$'::text)),
    CONSTRAINT check_feedback_message CHECK ((length(message) > 0))
);


ALTER TABLE public.feedback OWNER TO postgres;

--
-- Name: file_types; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.file_types (
    extension character varying NOT NULL,
    mime_type character varying NOT NULL,
    description text,
    is_allowed boolean,
    max_size_mb integer,
    id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone,
    CONSTRAINT check_extension CHECK (((extension)::text ~ '^[a-zA-Z0-9]+$'::text)),
    CONSTRAINT check_max_size CHECK (((max_size_mb IS NULL) OR (max_size_mb > 0)))
);


ALTER TABLE public.file_types OWNER TO postgres;

--
-- Name: languages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.languages (
    code character varying NOT NULL,
    name character varying NOT NULL,
    native_name character varying,
    is_active boolean,
    id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone,
    CONSTRAINT check_language_code CHECK (((code)::text ~ '^[a-z]{2}$'::text))
);


ALTER TABLE public.languages OWNER TO postgres;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    user_id uuid NOT NULL,
    type public.notificationtype NOT NULL,
    content text NOT NULL,
    related_id uuid,
    related_type public.notificationrelatedtype,
    is_read boolean,
    created_at timestamp with time zone DEFAULT now(),
    id uuid NOT NULL,
    updated_at timestamp with time zone
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: publishers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.publishers (
    name character varying NOT NULL,
    description text,
    website character varying,
    email character varying,
    phone character varying,
    address text,
    status public.publisherstatus,
    id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone,
    CONSTRAINT check_publisher_email CHECK (((email IS NULL) OR ((email)::text ~ '^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$'::text))),
    CONSTRAINT check_publisher_name CHECK ((length((name)::text) >= 2)),
    CONSTRAINT check_publisher_phone CHECK (((phone IS NULL) OR ((phone)::text ~ '^\+?[0-9\s-()]{8,20}$'::text)))
);


ALTER TABLE public.publishers OWNER TO postgres;

--
-- Name: ratings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ratings (
    document_id uuid NOT NULL,
    user_id uuid NOT NULL,
    rating integer NOT NULL,
    comment text,
    id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone,
    CONSTRAINT check_rating_range CHECK (((rating >= 1) AND (rating <= 5)))
);


ALTER TABLE public.ratings OWNER TO postgres;

--
-- Name: reading_progress; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reading_progress (
    user_id uuid NOT NULL,
    document_id uuid NOT NULL,
    chapter_id uuid,
    progress_type public.readingprogresstype NOT NULL,
    progress_value double precision NOT NULL,
    status public.readingprogressstatus,
    last_read_at timestamp with time zone DEFAULT now(),
    total_read_time integer,
    session_read_time integer,
    last_position jsonb,
    device_id character varying,
    session_id uuid,
    synced_at timestamp with time zone,
    ai_recommendation_trigger boolean,
    section_id uuid,
    conflict_resolution public.conflictresolution,
    last_sync_device character varying,
    sync_version integer,
    conflict_status public.conflictstatus,
    merged_progress jsonb,
    id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone,
    CONSTRAINT check_conflict_status CHECK (((((conflict_resolution)::text = 'manual'::text) AND (conflict_status IS NOT NULL)) OR ((conflict_resolution)::text <> 'manual'::text))),
    CONSTRAINT check_last_position CHECK (((last_position IS NULL) OR ((last_position)::text <> '{}'::text))),
    CONSTRAINT check_progress_value_page CHECK (((((progress_type)::text = 'page'::text) AND (progress_value >= (0)::double precision) AND (progress_value = floor(progress_value))) OR ((progress_type)::text <> 'page'::text))),
    CONSTRAINT check_progress_value_percentage CHECK (((((progress_type)::text = 'percentage'::text) AND (progress_value >= (0)::double precision) AND (progress_value <= (100)::double precision)) OR ((progress_type)::text <> 'percentage'::text))),
    CONSTRAINT check_progress_value_position CHECK (((((progress_type)::text = 'position'::text) AND (progress_value >= (0)::double precision)) OR ((progress_type)::text <> 'position'::text))),
    CONSTRAINT check_progress_value_time CHECK (((((progress_type)::text = 'time'::text) AND (progress_value >= (0)::double precision)) OR ((progress_type)::text <> 'time'::text))),
    CONSTRAINT check_session_read_time CHECK ((session_read_time >= 0)),
    CONSTRAINT check_sync_version CHECK ((sync_version > 0)),
    CONSTRAINT check_total_read_time CHECK ((total_read_time >= 0))
);


ALTER TABLE public.reading_progress OWNER TO postgres;

--
-- Name: COLUMN reading_progress.total_read_time; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.reading_progress.total_read_time IS 'Total reading time in seconds';


--
-- Name: COLUMN reading_progress.session_read_time; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.reading_progress.session_read_time IS 'Reading time for current session in seconds';


--
-- Name: COLUMN reading_progress.last_position; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.reading_progress.last_position IS 'Additional position data like scroll position, zoom level, etc.';


--
-- Name: COLUMN reading_progress.device_id; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.reading_progress.device_id IS 'Identifier for the device updating progress';


--
-- Name: COLUMN reading_progress.synced_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.reading_progress.synced_at IS 'Last sync time for offline progress';


--
-- Name: COLUMN reading_progress.ai_recommendation_trigger; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.reading_progress.ai_recommendation_trigger IS 'Flag for AI recommendation triggers';


--
-- Name: COLUMN reading_progress.merged_progress; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.reading_progress.merged_progress IS 'Stores progress data from other devices when merging';


--
-- Name: slideshows; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.slideshows (
    title character varying NOT NULL,
    description text,
    image_url character varying NOT NULL,
    link_url character varying,
    display_order integer,
    status public.categorystatus,
    id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone,
    CONSTRAINT check_display_order CHECK ((display_order >= 0))
);


ALTER TABLE public.slideshows OWNER TO postgres;

--
-- Name: system_settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.system_settings (
    key character varying NOT NULL,
    value text NOT NULL,
    description text,
    type public.settingtype,
    id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone,
    CONSTRAINT check_setting_key CHECK ((length((key)::text) > 0)),
    CONSTRAINT check_setting_value CHECK ((length(value) > 0))
);


ALTER TABLE public.system_settings OWNER TO postgres;

--
-- Name: tags; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tags (
    name character varying NOT NULL,
    description text,
    status public.tagstatus,
    id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone,
    slug character varying,
    CONSTRAINT check_tag_name CHECK ((length((name)::text) >= 2))
);


ALTER TABLE public.tags OWNER TO postgres;

--
-- Name: user_sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_sessions (
    user_id uuid NOT NULL,
    token character varying NOT NULL,
    ip_address character varying,
    user_agent character varying,
    created_at timestamp with time zone DEFAULT now(),
    expires_at timestamp with time zone NOT NULL,
    id uuid NOT NULL,
    updated_at timestamp with time zone,
    CONSTRAINT check_session_expiry CHECK ((expires_at > created_at))
);


ALTER TABLE public.user_sessions OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    email character varying NOT NULL,
    username character varying NOT NULL,
    hashed_password character varying NOT NULL,
    full_name character varying NOT NULL,
    role public.userrole,
    is_active boolean,
    is_verified boolean,
    verification_code character varying,
    verification_code_expires timestamp with time zone,
    failed_login_attempts integer,
    lockout_until timestamp with time zone,
    phone_number character varying,
    address character varying,
    avatar_url character varying,
    last_login timestamp with time zone,
    id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone,
    CONSTRAINT check_email_format CHECK (((email)::text ~ '^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$'::text)),
    CONSTRAINT check_email_length CHECK ((length((email)::text) >= 5)),
    CONSTRAINT check_failed_attempts CHECK ((failed_login_attempts >= 0)),
    CONSTRAINT check_username_length CHECK ((length((username)::text) >= 3))
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: voices; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.voices (
    id character varying NOT NULL,
    name character varying NOT NULL,
    language character varying NOT NULL,
    gender public.voicegender,
    provider character varying NOT NULL,
    is_active boolean,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT check_voice_id CHECK (((id)::text ~ '^[a-zA-Z0-9_-]+$'::text))
);


ALTER TABLE public.voices OWNER TO postgres;

--
-- Name: website_links; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.website_links (
    title character varying NOT NULL,
    url character varying NOT NULL,
    description text,
    "position" public.websitelinkposition NOT NULL,
    display_order integer,
    status public.websitelinkstatus,
    id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone,
    CONSTRAINT check_display_order CHECK ((display_order >= 0)),
    CONSTRAINT check_url_format CHECK (((url)::text ~ '^https?://[\w\-]+(\.[\w\-]+)+([\w\-.,@?^=%&:/~+#]*[\w\-@?^=%&/~+#])?$'::text))
);


ALTER TABLE public.website_links OWNER TO postgres;

--
-- Data for Name: access_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.access_logs (access_id, user_id, document_id, action, "timestamp", ip_address, user_agent, session_id, id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.alembic_version (version_num) FROM stdin;
\.


--
-- Data for Name: authors; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: comments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.comments (document_id, user_id, parent_id, content, status, is_edited, id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: document_access; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.document_access (document_id, user_id, granted_at, expiry_date, status, access_count, last_accessed, extension_count, revoked_at, id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: document_audio; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.document_audio (document_id, chapter_id, section_id, language, voice_id, file_url, duration_seconds, file_size, status, id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: document_author; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.document_author (document_id, author_id, created_at, id, updated_at) FROM stdin;
\.


--
-- Data for Name: document_chapters; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.document_chapters (document_id, title, chapter_number, start_position, end_position, ai_summary, id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: document_qa; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.document_qa (document_id, chapter_id, section_id, question, answer, context, language, usage_count, last_used, id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: document_sections; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.document_sections (document_id, chapter_id, title, section_number, start_position, end_position, id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: document_tag; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.document_tag (document_id, tag_id, id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: documents; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: favorites; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.favorites (user_id, document_id, created_at, id, updated_at) FROM stdin;
\.


--
-- Data for Name: feedback; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.feedback (user_id, name, email, subject, message, status, response, id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: file_types; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.file_types (extension, mime_type, description, is_allowed, max_size_mb, id, created_at, updated_at) FROM stdin;
pdf	application/pdf	PDF Document	t	20	3d7a13bf-7383-4764-9160-4afa676a2057	2025-05-14 08:59:45.150349+00	\N
txt	text/plain	Text File	t	5	40fdbd91-fe7c-430a-a1d7-6e2b7ca8d772	2025-05-14 08:59:45.150349+00	\N
docx	application/vnd.openxmlformats-officedocument.wordprocessingml.document	Word Document	t	20	6350c129-2d92-4213-addf-c3f14529074c	2025-05-14 08:59:45.150349+00	\N
\.


--
-- Data for Name: languages; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.languages (code, name, native_name, is_active, id, created_at, updated_at) FROM stdin;
vi	Vietnamese	Tiếng Việt	t	6a6d1489-bdc4-44c2-8b60-d4a8b8db7002	2025-05-14 09:05:29.361311+00	\N
en	English	Tiếng Anh	t	041a8ef7-b90d-43ca-b90e-4efde6383fb4	2025-05-15 05:20:45.238257+00	\N
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.notifications (user_id, type, content, related_id, related_type, is_read, created_at, id, updated_at) FROM stdin;
\.


--
-- Data for Name: publishers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.publishers (name, description, website, email, phone, address, status, id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: ratings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ratings (document_id, user_id, rating, comment, id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: reading_progress; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.reading_progress (user_id, document_id, chapter_id, progress_type, progress_value, status, last_read_at, total_read_time, session_read_time, last_position, device_id, session_id, synced_at, ai_recommendation_trigger, section_id, conflict_resolution, last_sync_device, sync_version, conflict_status, merged_progress, id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: slideshows; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.slideshows (title, description, image_url, link_url, display_order, status, id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: system_settings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.system_settings (key, value, description, type, id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: tags; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_sessions (user_id, token, ip_address, user_agent, created_at, expires_at, id, updated_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: voices; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.voices (id, name, language, gender, provider, is_active, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: website_links; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.website_links (title, url, description, "position", display_order, status, id, created_at, updated_at) FROM stdin;
\.


--
-- Name: access_logs access_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.access_logs
    ADD CONSTRAINT access_logs_pkey PRIMARY KEY (id);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: authors authors_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.authors
    ADD CONSTRAINT authors_pkey PRIMARY KEY (id);


--
-- Name: authors authors_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.authors
    ADD CONSTRAINT authors_slug_key UNIQUE (slug);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: comments comments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_pkey PRIMARY KEY (id);


--
-- Name: document_access document_access_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_access
    ADD CONSTRAINT document_access_pkey PRIMARY KEY (id);


--
-- Name: document_audio document_audio_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_audio
    ADD CONSTRAINT document_audio_pkey PRIMARY KEY (id);


--
-- Name: document_author document_author_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_author
    ADD CONSTRAINT document_author_pkey PRIMARY KEY (id);


--
-- Name: document_chapters document_chapters_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_chapters
    ADD CONSTRAINT document_chapters_pkey PRIMARY KEY (id);


--
-- Name: document_qa document_qa_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_qa
    ADD CONSTRAINT document_qa_pkey PRIMARY KEY (id);


--
-- Name: document_sections document_sections_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_sections
    ADD CONSTRAINT document_sections_pkey PRIMARY KEY (id);


--
-- Name: document_tag document_tag_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_tag
    ADD CONSTRAINT document_tag_pkey PRIMARY KEY (id);


--
-- Name: documents documents_isbn_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_isbn_key UNIQUE (isbn);


--
-- Name: documents documents_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_pkey PRIMARY KEY (id);


--
-- Name: favorites favorites_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.favorites
    ADD CONSTRAINT favorites_pkey PRIMARY KEY (id);


--
-- Name: feedback feedback_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.feedback
    ADD CONSTRAINT feedback_pkey PRIMARY KEY (id);


--
-- Name: file_types file_types_extension_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.file_types
    ADD CONSTRAINT file_types_extension_key UNIQUE (extension);


--
-- Name: file_types file_types_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.file_types
    ADD CONSTRAINT file_types_pkey PRIMARY KEY (id);


--
-- Name: languages languages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.languages
    ADD CONSTRAINT languages_pkey PRIMARY KEY (code, id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: publishers publishers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.publishers
    ADD CONSTRAINT publishers_pkey PRIMARY KEY (id);


--
-- Name: ratings ratings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ratings
    ADD CONSTRAINT ratings_pkey PRIMARY KEY (id);


--
-- Name: reading_progress reading_progress_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reading_progress
    ADD CONSTRAINT reading_progress_pkey PRIMARY KEY (id);


--
-- Name: slideshows slideshows_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.slideshows
    ADD CONSTRAINT slideshows_pkey PRIMARY KEY (id);


--
-- Name: system_settings system_settings_key_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.system_settings
    ADD CONSTRAINT system_settings_key_key UNIQUE (key);


--
-- Name: system_settings system_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.system_settings
    ADD CONSTRAINT system_settings_pkey PRIMARY KEY (id);


--
-- Name: tags tags_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tags
    ADD CONSTRAINT tags_pkey PRIMARY KEY (id);


--
-- Name: tags tags_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tags
    ADD CONSTRAINT tags_slug_key UNIQUE (slug);


--
-- Name: authors uq_author_name; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.authors
    ADD CONSTRAINT uq_author_name UNIQUE (name);


--
-- Name: document_author uq_document_author; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_author
    ADD CONSTRAINT uq_document_author UNIQUE (document_id, author_id);


--
-- Name: document_chapters uq_document_chapter_number; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_chapters
    ADD CONSTRAINT uq_document_chapter_number UNIQUE (document_id, chapter_number);


--
-- Name: document_sections uq_document_section_number; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_sections
    ADD CONSTRAINT uq_document_section_number UNIQUE (document_id, chapter_id, section_number);


--
-- Name: document_tag uq_document_tag; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_tag
    ADD CONSTRAINT uq_document_tag UNIQUE (document_id, tag_id);


--
-- Name: ratings uq_document_user_rating; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ratings
    ADD CONSTRAINT uq_document_user_rating UNIQUE (document_id, user_id);


--
-- Name: languages uq_language_code; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.languages
    ADD CONSTRAINT uq_language_code UNIQUE (code);


--
-- Name: publishers uq_publisher_name; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.publishers
    ADD CONSTRAINT uq_publisher_name UNIQUE (name);


--
-- Name: reading_progress uq_user_document_chapter_section_progress; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reading_progress
    ADD CONSTRAINT uq_user_document_chapter_section_progress UNIQUE (user_id, document_id, chapter_id, section_id);


--
-- Name: favorites uq_user_document_favorite; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.favorites
    ADD CONSTRAINT uq_user_document_favorite UNIQUE (user_id, document_id);


--
-- Name: user_sessions user_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_sessions
    ADD CONSTRAINT user_sessions_pkey PRIMARY KEY (id);


--
-- Name: user_sessions user_sessions_token_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_sessions
    ADD CONSTRAINT user_sessions_token_key UNIQUE (token);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: voices voices_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.voices
    ADD CONSTRAINT voices_pkey PRIMARY KEY (id);


--
-- Name: website_links website_links_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.website_links
    ADD CONSTRAINT website_links_pkey PRIMARY KEY (id);


--
-- Name: idx_access_logs_document; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_access_logs_document ON public.access_logs USING btree (document_id);


--
-- Name: idx_access_logs_timestamp; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_access_logs_timestamp ON public.access_logs USING btree ("timestamp");


--
-- Name: idx_access_logs_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_access_logs_user ON public.access_logs USING btree (user_id);


--
-- Name: idx_access_logs_user_document; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_access_logs_user_document ON public.access_logs USING btree (user_id, document_id);


--
-- Name: idx_document_audio_chapter; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_document_audio_chapter ON public.document_audio USING btree (chapter_id);


--
-- Name: idx_document_audio_doc_chapter_section; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_document_audio_doc_chapter_section ON public.document_audio USING btree (document_id, chapter_id, section_id);


--
-- Name: idx_document_audio_document; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_document_audio_document ON public.document_audio USING btree (document_id);


--
-- Name: idx_document_audio_language; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_document_audio_language ON public.document_audio USING btree (language);


--
-- Name: idx_document_audio_section; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_document_audio_section ON public.document_audio USING btree (section_id);


--
-- Name: idx_document_chapters_document; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_document_chapters_document ON public.document_chapters USING btree (document_id);


--
-- Name: idx_document_chapters_number; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_document_chapters_number ON public.document_chapters USING btree (document_id, chapter_number);


--
-- Name: idx_document_sections_chapter; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_document_sections_chapter ON public.document_sections USING btree (chapter_id);


--
-- Name: idx_document_sections_document; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_document_sections_document ON public.document_sections USING btree (document_id);


--
-- Name: idx_reading_progress_conflict; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reading_progress_conflict ON public.reading_progress USING btree (conflict_status);


--
-- Name: idx_reading_progress_document; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reading_progress_document ON public.reading_progress USING btree (document_id);


--
-- Name: idx_reading_progress_document_chapter; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reading_progress_document_chapter ON public.reading_progress USING btree (document_id, chapter_id);


--
-- Name: idx_reading_progress_last_read; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reading_progress_last_read ON public.reading_progress USING btree (last_read_at);


--
-- Name: idx_reading_progress_section; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reading_progress_section ON public.reading_progress USING btree (section_id);


--
-- Name: idx_reading_progress_sync; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reading_progress_sync ON public.reading_progress USING btree (synced_at);


--
-- Name: idx_reading_progress_sync_version; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reading_progress_sync_version ON public.reading_progress USING btree (sync_version);


--
-- Name: idx_reading_progress_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reading_progress_user ON public.reading_progress USING btree (user_id);


--
-- Name: idx_reading_progress_user_document_section; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reading_progress_user_document_section ON public.reading_progress USING btree (user_id, document_id, section_id);


--
-- Name: idx_reading_progress_user_last_read; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reading_progress_user_last_read ON public.reading_progress USING btree (user_id, last_read_at);


--
-- Name: idx_voices_language; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_voices_language ON public.voices USING btree (language);


--
-- Name: idx_voices_provider; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_voices_provider ON public.voices USING btree (provider);


--
-- Name: ix_access_logs_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_access_logs_id ON public.access_logs USING btree (id);


--
-- Name: ix_authors_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_authors_id ON public.authors USING btree (id);


--
-- Name: ix_authors_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_authors_name ON public.authors USING btree (name);


--
-- Name: ix_categories_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_categories_id ON public.categories USING btree (id);


--
-- Name: ix_categories_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_categories_name ON public.categories USING btree (name);


--
-- Name: ix_categories_slug; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_categories_slug ON public.categories USING btree (slug);


--
-- Name: ix_comments_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_comments_id ON public.comments USING btree (id);


--
-- Name: ix_document_access_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_document_access_id ON public.document_access USING btree (id);


--
-- Name: ix_document_audio_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_document_audio_id ON public.document_audio USING btree (id);


--
-- Name: ix_document_author_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_document_author_id ON public.document_author USING btree (id);


--
-- Name: ix_document_chapters_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_document_chapters_id ON public.document_chapters USING btree (id);


--
-- Name: ix_document_qa_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_document_qa_id ON public.document_qa USING btree (id);


--
-- Name: ix_document_sections_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_document_sections_id ON public.document_sections USING btree (id);


--
-- Name: ix_document_tag_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_document_tag_id ON public.document_tag USING btree (id);


--
-- Name: ix_documents_file_hash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_documents_file_hash ON public.documents USING btree (file_hash);


--
-- Name: ix_documents_file_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_documents_file_name ON public.documents USING btree (file_name);


--
-- Name: ix_documents_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_documents_id ON public.documents USING btree (id);


--
-- Name: ix_documents_title; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_documents_title ON public.documents USING btree (title);


--
-- Name: ix_favorites_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_favorites_id ON public.favorites USING btree (id);


--
-- Name: ix_feedback_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_feedback_id ON public.feedback USING btree (id);


--
-- Name: ix_file_types_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_file_types_id ON public.file_types USING btree (id);


--
-- Name: ix_languages_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_languages_id ON public.languages USING btree (id);


--
-- Name: ix_notifications_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_notifications_id ON public.notifications USING btree (id);


--
-- Name: ix_publishers_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_publishers_id ON public.publishers USING btree (id);


--
-- Name: ix_publishers_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_publishers_name ON public.publishers USING btree (name);


--
-- Name: ix_ratings_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_ratings_id ON public.ratings USING btree (id);


--
-- Name: ix_reading_progress_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_reading_progress_id ON public.reading_progress USING btree (id);


--
-- Name: ix_slideshows_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_slideshows_id ON public.slideshows USING btree (id);


--
-- Name: ix_system_settings_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_system_settings_id ON public.system_settings USING btree (id);


--
-- Name: ix_tags_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_tags_id ON public.tags USING btree (id);


--
-- Name: ix_tags_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_tags_name ON public.tags USING btree (name);


--
-- Name: ix_user_sessions_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_user_sessions_id ON public.user_sessions USING btree (id);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: ix_users_username; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_users_username ON public.users USING btree (username);


--
-- Name: ix_website_links_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_website_links_id ON public.website_links USING btree (id);


--
-- Name: access_logs access_logs_access_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.access_logs
    ADD CONSTRAINT access_logs_access_id_fkey FOREIGN KEY (access_id) REFERENCES public.document_access(id);


--
-- Name: access_logs access_logs_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.access_logs
    ADD CONSTRAINT access_logs_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.documents(id);


--
-- Name: access_logs access_logs_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.access_logs
    ADD CONSTRAINT access_logs_session_id_fkey FOREIGN KEY (session_id) REFERENCES public.user_sessions(id);


--
-- Name: access_logs access_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.access_logs
    ADD CONSTRAINT access_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: categories categories_parent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_parent_id_fkey FOREIGN KEY (parent_id) REFERENCES public.categories(id);


--
-- Name: comments comments_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.documents(id);


--
-- Name: comments comments_parent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_parent_id_fkey FOREIGN KEY (parent_id) REFERENCES public.comments(id);


--
-- Name: comments comments_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: document_access document_access_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_access
    ADD CONSTRAINT document_access_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.documents(id);


--
-- Name: document_access document_access_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_access
    ADD CONSTRAINT document_access_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: document_audio document_audio_chapter_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_audio
    ADD CONSTRAINT document_audio_chapter_id_fkey FOREIGN KEY (chapter_id) REFERENCES public.document_chapters(id);


--
-- Name: document_audio document_audio_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_audio
    ADD CONSTRAINT document_audio_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.documents(id);


--
-- Name: document_audio document_audio_language_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_audio
    ADD CONSTRAINT document_audio_language_fkey FOREIGN KEY (language) REFERENCES public.languages(code);


--
-- Name: document_audio document_audio_section_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_audio
    ADD CONSTRAINT document_audio_section_id_fkey FOREIGN KEY (section_id) REFERENCES public.document_sections(id);


--
-- Name: document_audio document_audio_voice_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_audio
    ADD CONSTRAINT document_audio_voice_id_fkey FOREIGN KEY (voice_id) REFERENCES public.voices(id);


--
-- Name: document_author document_author_author_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_author
    ADD CONSTRAINT document_author_author_id_fkey FOREIGN KEY (author_id) REFERENCES public.authors(id);


--
-- Name: document_author document_author_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_author
    ADD CONSTRAINT document_author_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.documents(id);


--
-- Name: document_chapters document_chapters_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_chapters
    ADD CONSTRAINT document_chapters_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.documents(id);


--
-- Name: document_qa document_qa_chapter_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_qa
    ADD CONSTRAINT document_qa_chapter_id_fkey FOREIGN KEY (chapter_id) REFERENCES public.document_chapters(id);


--
-- Name: document_qa document_qa_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_qa
    ADD CONSTRAINT document_qa_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.documents(id);


--
-- Name: document_qa document_qa_language_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_qa
    ADD CONSTRAINT document_qa_language_fkey FOREIGN KEY (language) REFERENCES public.languages(code);


--
-- Name: document_qa document_qa_section_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_qa
    ADD CONSTRAINT document_qa_section_id_fkey FOREIGN KEY (section_id) REFERENCES public.document_sections(id);


--
-- Name: document_sections document_sections_chapter_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_sections
    ADD CONSTRAINT document_sections_chapter_id_fkey FOREIGN KEY (chapter_id) REFERENCES public.document_chapters(id);


--
-- Name: document_sections document_sections_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_sections
    ADD CONSTRAINT document_sections_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.documents(id);


--
-- Name: document_tag document_tag_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_tag
    ADD CONSTRAINT document_tag_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.documents(id);


--
-- Name: document_tag document_tag_tag_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_tag
    ADD CONSTRAINT document_tag_tag_id_fkey FOREIGN KEY (tag_id) REFERENCES public.tags(id);


--
-- Name: documents documents_added_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_added_by_fkey FOREIGN KEY (added_by) REFERENCES public.users(id);


--
-- Name: documents documents_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id);


--
-- Name: documents documents_file_type_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_file_type_fkey FOREIGN KEY (file_type) REFERENCES public.file_types(id);


--
-- Name: documents documents_language_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_language_fkey FOREIGN KEY (language) REFERENCES public.languages(code);


--
-- Name: documents documents_publisher_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_publisher_id_fkey FOREIGN KEY (publisher_id) REFERENCES public.publishers(id);


--
-- Name: favorites favorites_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.favorites
    ADD CONSTRAINT favorites_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.documents(id);


--
-- Name: favorites favorites_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.favorites
    ADD CONSTRAINT favorites_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: feedback feedback_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.feedback
    ADD CONSTRAINT feedback_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: notifications notifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: ratings ratings_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ratings
    ADD CONSTRAINT ratings_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.documents(id);


--
-- Name: ratings ratings_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ratings
    ADD CONSTRAINT ratings_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: reading_progress reading_progress_chapter_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reading_progress
    ADD CONSTRAINT reading_progress_chapter_id_fkey FOREIGN KEY (chapter_id) REFERENCES public.document_chapters(id);


--
-- Name: reading_progress reading_progress_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reading_progress
    ADD CONSTRAINT reading_progress_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.documents(id);


--
-- Name: reading_progress reading_progress_section_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reading_progress
    ADD CONSTRAINT reading_progress_section_id_fkey FOREIGN KEY (section_id) REFERENCES public.document_sections(id);


--
-- Name: reading_progress reading_progress_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reading_progress
    ADD CONSTRAINT reading_progress_session_id_fkey FOREIGN KEY (session_id) REFERENCES public.user_sessions(id);


--
-- Name: reading_progress reading_progress_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reading_progress
    ADD CONSTRAINT reading_progress_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: user_sessions user_sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_sessions
    ADD CONSTRAINT user_sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: voices voices_language_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.voices
    ADD CONSTRAINT voices_language_fkey FOREIGN KEY (language) REFERENCES public.languages(code);


--
-- PostgreSQL database dump complete
--

